<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox</title>
</head>
<body>
    <div class="navbar"> 
        <a href="/dashboard">Dashboard</a>
        <a href="/inbox">Inbox</a>
        <a href="/chat">Chat</a>
        <a href="/team">Team</a>
        <a href="/projects">Projects</a>
        <!-- All these links are subject to change -->
    </div>
{% for one_project in all_projects %}       
<!-- This for loop can be altered  -->
    <h1>Inbox</h1>
    <table>
        <thead>
            <tr>
                <th>Project</th>
                <th>From</th>
                <th>Summary</th>
                <th>Date Assigned</th>
                <th>Date Due</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/one_project/{{ one_project.id }}/view">{{one_project.name}}</a></td>
                <td><a href="/one_project/{{ one_project.creator.id }}/lead">{{one_project.creator.name}}</a></td>
                <!-- Whatever Urls we create/models created will fill in above -->
                <td>{{one_project.summary}}</td>
                <td>{{one_project.date_assigned}}</td>
                <td>{{one_project.date_due}}</td>
            </tr>
        </tbody>    
{% endfor %}
    </table>
</body>
</html>